<div class="bgfull1" data-scroll-top>
    <senac-submenu></senac-submenu>
    <div senac-filtro-pagina data-propriedade-filtro="configuracaoFiltro">
        <div class="container nav_internas" >
            <header class="section-header margtop20">
                <h2 class="section-title normal"> Todas Notícias</h2>
                <div class="spacer_left margbottom20"></div>
            </header>
            <div class="col-md-12 offset-0  bgcinza shadow padding10 margbottom10 ">
                <div class="col-md-5 padding10 ">
                    <div class="col-sm-12 margbottom10">
                      <label>Categoria</label> 
                        <select class="form-control" data-ng-options="categoria.nome for categoria in categorias track by categoria.id"
                            data-ng-model="search.categoria">
                            <option value="">{{'LBL_CBX_SELECIONE' | translate}}</option>
                            option
                        </select>
                      
                    </div>
                </div>
                <div class="col-md-5 padding10 ">
                    <div class="col-md-12 offset-0">
                        <div class="col-md-12 offset-0">
                         <label>Data de publicação</label> 
                            <div class="input-group input-large"  data-date-format="mm/dd/yyyy">
                                <input-date model="search.dataInicio"></input-date>
                                <span class="input-group-addon">à</span>
                                <input-date model="search.dataFim" minDate="search.dataInicio"></input-date>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-2 padding10 ">
                    <button class="bluebtn btn-block right caps margbottom10 margtop15" data-ng-click="buscarPorFiltro(search)">Filtrar</button>
                </div>
                    <div class="clearfix"></div>
            </div> 
            <div class="clearfix"></div>
            <div class="divider"></div>
           
            <div data-ng-repeat="noticia in filtroResult.data track by $index">
                <div class="col-md-12 offset-0">
                    <article class="education ">
                        <header data-ng-init="converterDataInicio(noticia)">
                            <a data-ng-href="{{systemUri.noticiaDetalhe(noticia.id)}}">
                                <h3 class="title blue bold capitalize"  data-ng-bind="noticia.titulo"></h3>
                            </a>                                                           
                            <p class="size11 grey">
                                <i class="fa fa-calendar"></i>  {{(noticia.dataInicio | date:'dd/MM/yyyy')}}
                            </p>
                        </header>
                        <p class="grey2 size12 margtop10" data-ng-bind="noticia.chamada"/>
                        <p><a data-ng-href="{{systemUri.noticiaDetalhe(noticia.id)}}" class="center lblue"> Leia Mais <i class="fa fa-angle-double-right slim"></i></a> </p>
                    </article>
                </div> 
                <div class="clearfix"></div>
                <div class="line4"></div>
              
            </div>
            <div class="col-md-12 center" data-senac-paginacao>
              <uib-pagination total-items="filtroResult.totalCount"  max-size="(isMobile ? applicationSettings.maxPaginationMobile : applicationSettings.maxPaginationDesktop)" force-ellipses="true" boundary-links="true" items-per-page="filtroResult.maxPageSize" ng-model="pagina" 
                             ng-change="trocarPagina()" num-pages class="pagination-sm" 
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
              </uib-pagination>
            </div>
        </div>
    </div>
</div>
