<div>
	<p class="error" data-ng-message='required'> Preencha o campo</p>
  <p class="error" data-ng-message='minlength'> Campo com poucos caracteres</p>
  <p class="error" data-ng-message='maxlength'> Campo com muitos caracteres</p>
  <p class="error" data-ng-message='email'> Email inválido</p>
  <p class="error" data-ng-message='emailexists'> Email já cadastrado</p>
  <p class="error" data-ng-message='cpfvalid'> CPF inválido</p>
  <p class="error" data-ng-message='cpfexists'> CPF já cadastrado</p>
</div>