<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="fechar()">×</button>
    <h2 class="modal-title"><i class="fa fa-bell-o lgrey"></i> Aviso </h2>
  </div>
  <div class="modal-body">
    <div class="clearfix"></div>
    <div class="margtop10">
      <header class="section-header">
        <h2 class="section-title-modal normal">{{aviso.chamada}}</h2>
        <div class="spacer_left margbottom20"></div>
      </header>
      {{aviso.conteudo}}
    </div>
  </div>
  <div class="clearfix"> </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="fechar()"><i class="fa fa-undo"></i> Voltar</button>
  </div>
</div>
