<div class="bgfull1" data-scroll-top>
  <section class="telas_internas">
    <article>
 
      <section class="menutabprincipal3">
        <div class="container">
          <article>
            <div class="col-md-12 offset-0"> 
                <div class="breadcrub">
                    <div class="col-md-8 col-lg-9 col-sm-8 margtop10">
                         <senac-breadcrumb></senac-breadcrumb>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-4 mt2 ">
                         <senac-busca-textual></senac-busca-textual>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </article>
      </section>
 
      <div class="container nav_internas margbottom40" style="min-height: 500px">
 
        <header class="section-header margtop15 ">
          <h2 class="section-title normal">{{'T_ALTERAR_SENHA' | translate}}</h2>
          <div class="spacer_left margbottom20"></div>
        </header>
 
        <div class="col-md-12 degrade">
          <div class="row  shadow">
 
            <div class="panel-body col-md-12">
 
              <div class="row">
 
                <div class="col-md-12 personal-info">
 
                  <form class="form-horizontal" name="formUsuarioAlteracaoSenha">
                    <div class="form-group">
                      <label class="col-md-12">{{'LBL_SENHA_ATUAL' | translate}}:</label>
                      <div class="col-md-12">
                        <input class="form-control"  data-ng-model="senhaAtual" name="senhaAtual" type="password" required minlength="6"
                        data-ng-blur="validarSenhaAtual(senhaAtual)"
                        ng-attr-tabindex="1"/>
                        <div data-ng-if="!senhaAtualValida && formUsuarioAlteracaoSenha.senhaAtual.$touched">
                          <p class="error" data-> Senha atual não corresponde a cadastrada</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
 
                      <label class="col-md-12">{{'LBL_NOVA_SENHA' | translate}}:<small> (mínimo 6 caracteres)</small></label>
                      <div class="col-md-12">
                        <input class="form-control" data-ng-model="credencial.senha" name="novaSenha" type="password" required  minlength="6" maxlength="16" ng-attr-tabindex="2" />
 
                        <div data-ng-messages="formUsuarioAlteracaoSenha.novaSenha.$error" data-ng-if="formUsuarioAlteracaoSenha.novaSenha.$touched && !submitted">
                          <div ng-messages-include="/extranetead-portal/partials/main/mensagem-validacao"></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
 
                      <label class="col-md-12 ">{{'LBL_CONFIRMACAO_SENHA' | translate}}:</label>
                      <div class="col-md-12">
                        <input class="form-control" data-ng-model="confirmacaoSenha" name="confirmacaoSenha" type="password" required  minlength="6" maxlength="16"
                        data-ng-blur="compararSenhas(credencial.senha, confirmacaoSenha)" ng-attr-tabindex="3"/>
 
                        <div data-ng-messages="formUsuarioAlteracaoSenha.confirmacaoSenha.$error" data-ng-if="formUsuarioAlteracaoSenha.confirmacaoSenha.$touched && !submitted">
                          <div ng-messages-include="/extranetead-portal/partials/main/mensagem-validacao"></div>
                        </div>
                      </div>
                    </div>
 
                  </form>
 
                </div>
 
              </div>
              <div class="margtop20 margbottom10">
                <show-message data-show="localMessage.show" data-nivel="localMessage.nivel" data-text="localMessage.text" >
                </show-message>
              </div>
 
               <div class="clearfix"></div>
              <div class="right">
                <a back class="btn btn-default clearfix margright10" style="padding: 8px 15px"><i class="fa fa-remove"></i> {{'BTN_CANCELAR' | translate}}</a>
                <button  class="btn btn-primary bluebtn" data-ng-disabled="formUsuarioAlteracaoSenha.$invalid || desabilitarBotaoSalvar"
                data-ng-click="alterarSenha(credencial)" tabindex="4">
 
                  <i class="fa fa-save"></i> {{'BTN_SALVAR' | translate}}
                </button>
              </div>
 
            </div>
 
          </div>
 
        </div>
 
        <div class="clearfix"></div>
 
        <div class="divider">
          <!-- divider -->
 
        </div>
 
    </article>
  </section>
  </div>
 
</div>