<senac-submenu></senac-submenu>
<div class="container nav_internas">
  <div class="margtop10">
    <!-- LEFT CONTENT -->
    <div class="col-md-12 offset-4">
      <div class="col-md-12 offset-0">
        <div class="lbl">
         <img src="/extranetead-portal/static/resources/images/imgheader-large.jpg" alt="" class="fwimg img-responsive border padding0">
        </div>
      </div>
      <div class="clearfix"></div>
   
    <div class="col-md-12 offset-0 ">
        <senac-apresentacao id="PCA_COMUNICACAO"></senac-apresentacao>
    </div>
    <div class="col-md-12 offset-0">
        <senac-apresentacao id="ASSE_IMPRENSA"></senac-apresentacao> 
    </div>        
  </div>
</div>
</div>
