<senac-submenu></senac-submenu>
<div class="container nav_internas">

  <div class="col-md-12 offset-0  ">
    <div class="textjustify col-md-12 offset-0   ">
      <senac-apresentacao id="ASSE_IMPRENSA"></senac-apresentacao>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="divider"></div>
  <!-- divider -->

  <div class="col-md-12 offset-0 grey slim">
    <!-- Menu Collapse -->
    <div " class="tab-pane acordion_senac" ng-init="carregarDocumentos('assessoria-imprensa')">
      <ng-include src="'/extranetead-portal/partials/comunicacao/accordion_documentos'">
      </ng-include>
      <!-- Fim Collapse 2 -->
      <div class="clearfix"></div>

    </div>
    <!-- Fim tab-pane -->
  </div>
  <!-- Fim col-md-12 Tabs -->
</div>
