<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="description" content="">
  <meta name="author" content="SENAC SP"> 
  <title>Extranet EAD Nacional</title> 

  <!-- Set CSS -->
  <link rel="stylesheet" href="css/plugins/normalize.css" />

  <!-- Bootstrap -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Icones Fonts -->
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
  <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="css/font-awesome-ie7.css" media="screen" /><![endif]--> 

  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'> 
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Custom CSS --> 
  <link href="css/custom_css.css" rel="stylesheet"> 
  <link href="css/style_.css" rel="stylesheet"> 

  <link href="css/medias.css" rel="stylesheet" media="screen">      

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
     <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>  
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>   
        <![endif]-->
      </head>
      <body id="top">     

          <!-- ==== Menu Principal ==== -->
          <!-- Menu Principal --> 
        <header>
        <nav class="navbar-wrapper2 navbar-fixed-top shadow " style="min-height: 120px;" > 
        <div id="header-wrapper">
          <!-- Top Mini Menu -->   
          <div class="topbar ">
          <div class="container">
            <div class="topbar-right"> 
              <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu ">
                  <!-- user login dropdown start-->
                  <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle size10" href="#">
                      <span class="size10  grey margright5 mt-2">Bem-Vindo:</span>  <img alt="Bruno Bucci Almeida" src="img/user.png"> 
                      <span class="username dark">Bruno Bucci Almeida</span>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <div class=" dropwidth01 ">
                          <div class="  degrade clearfix">
                            <ul class="droplist col-md-12 center">
                              <li class="center userlogago"><img alt="" src="img/user.png"> </li> 
                            </ul>
                            <ul class="droplist col-md-12 ">
                              <li class="center "><a href="editar_perfil.html" class="mt-5 green"><i class="fa fa-edit"></i>  Meus Dados</a></li>
                            </ul>
                          </div>
                            <ul class="droplist col-md-12">
                              <li class=""><a href="gerenciar_polos.html"> <i class="fa fa-globe"></i> Gerenciar Polos </a></li>
                              <li class=""><a href="gerenciar_usuarios.html""><i class="fa fa-user"></i> Gerenciar Usuários </a> </li>
                              <li class=""><a href="../Admin/login.html"><i class="fa fa-desktop"></i> Painel de Controle</a> </li>
                            </ul>
                          </div>
                        </li>
                        <div class="padding5 center">
                          <a href="login.html" type="button" class="btn btn-danger  btn-xs  mt5"> <i class="fa fa-sign-out"></i> Sair</a> 
                        </div>
                    </ul>
                  </li> 
                  <!-- user login dropdown end -->
                </ul>
                <!--search & user info end--> 
              </div>                
            </div><!-- /.topbar-right -->
          </div><!-- /.container -->
        </div><!-- /.topbar -->   
           <div class="container">
             <div class="navbar mtnav">
             <!-- Navegação -->  
               <div class="navbar-header">
               <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <i class="fa fa-bars size30 mt-10"></i>
               </button>
               <a href="index.html" class="navbar-brand"><img src="img/senac.png" alt="Logo" class="logo"/></a>
              </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html"  >Home</a></li>
                <li><a href="sobrearede.html">Sobre a Rede </a></li>
                <li><a href="niveis.html" >Níveis de Ensino</a></li>
                <li><a href="vendas.html">Vendas</a></li>
                <li><a href="comunicacao.html">Comunicação</a></li>
                <li><a href="capacitacao.html">Capacitação</a></li>       
                <li><a href="producao.html">Produção e Financeiro </a></li> 
                <li><a href="contato.html" class="active">Contato </a></li>      
              </ul>
            </div>   
               </div><!-- Navegação --> 
             </div><!-- navbar mtnav -->
           </div> <!-- container -->
           </div> <!-- #header --> 
          </nav>
        </header>
        <!-- FIM Menu Principal -->
<div id="wrapper" class="bgfull1" >
 <!-- Section Banner / Informes
 ================================================== -->  
<section id="tabs_principal" class="gradient-jumbo menu-secondary lato triangle" style="padding-top:30px "> 
      <div class="container">
        <div class="padding10 mt20">
          <p class="lato size22 slim textcenter ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum.</p>
        </div>
        <ul class="tabs_principal nav nav-pills nav-justified padding30 caps ">
          <li role="presentation" ><a href="contato_faq.html"><i class="fa fa-question"></i> FAQ</a></li>
          <li role="presentation" ><a href="contato_registro.html"><i class="fa fa-edit" aria-hidden="true"></i> Registro de Ocorrências</a></li>
          <li role="presentation" class="active"><a href="contato_banco.html"> <i class="fa fa-server"></i> Banco de Idéias</a></li> 
        </ul>
      </div> 
    </section>


    <section id="menutabprincipal" class="menutabprincipal3" >  
      <div class="container">
        <article> 
         <div class="col-md-12 offset-0"> 
          <div class="breadcrub">
            <div class="col-md-9 ">
              <a class="homebtn left" href="#"></a>
              <div class="left">
                <ul class="bcrumbs">
                  <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                  <li><a href="#">Contato</a></li> 
                  <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                  <li><a href="#">Título</a></li>
                  <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>          
                  <li><a href="#" class="active">Página</a></li>          
                </ul>       
              </div>
            </div>
            <div class="col-md-3 ">
              <form class=" form-search" role="search">  
                <div class="form-group center mt-5 "> 
                  <input type="text" class="form-control iconsearch" placeholder="Procurar">   
                </div>
              </form> 
            </div>
            <div class="clearfix"></div>
          </div>
        </div>    
      </div>
     </article>
  </section> 

<div class="container nav_internas" >

      
    
       
 <div class="col-md-12 offset-0 textjustify slim grey padding30"> 
       

      <header class="section-header margtop20">
                <h2 class="section-title normal">  Banco de Idéias</h2>
                <div class="spacer_left margbottom20"></div>
            </header> 

          
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate....
            
             
           </div>


           <div class="col-md-12 offset-0  bgcinza shadow padding10 ">  
             
             <div class="col-md-6 padding10 ">
           
           
             <div class="form-group ">
          <label class="col-sm-4 margbottom10 control-label blue">DR de Origem:</label> 
          <div class="col-sm-8 margbottom10">
          <select class="form-control">
              <option>SP</option> 
              <option>MG</option> 
              <option>RJ</option>  
            </select>
         </div>
       </div>
         <div class="clearfix"></div>
        <div class="form-group margbottom10">
          <label class="col-sm-4 margbottom10 control-label blue">Polo Origem</label>
          <div class="col-sm-8 margbottom10">
           <select class="form-control">
              <option>Cruzeiro do Sul</option> 
              <option>Rio Branco</option> 
              <option>Rio Branco 2</option>  
            </select>
         </div>
       </div>
            <div class="clearfix"></div>
        <div class="form-group margbottom10">
          <label class="col-sm-4 margbottom10  control-label blue">Nível</label>
          <div class="col-sm-8 margbottom10">
           <select class="form-control">
              <option>FIC</option> 
              <option>Técnico</option> 
              <option>Graduação</option>  
            </select>
         </div>
       </div>

       
        
        
            </div>

            <div class="col-md-6 padding10"> 

           <div class="col-md-12">
             <span class="size14 blue bold margtop-10"> Dúvida</span> 
                      <textarea class="form-control" rows="4"></textarea>
                       <div class="clearfix"></div>
                      <div class="col-md-12 relative"><button class="bluebtn right caps margbottom10 margtop10">Enviar</button> </div> 
          </div> 


           </div>


           </div>
            <div class="clearfix"></div>
<div class="divider"><!-- divider -->
              <img src="img/senac_formas.png">
            </div> 
       
           <div class="col-md-12 offset-0 shadow margtop40">
<div class="col-md-6 padding30">
           <span class="dark size18 slim">Idéia <b>nº 123456</b></span> aberta por</span> <span class="blue size18 bold">Pedro</b> <br>
           <span class="grey size12 slim">Data: 12/05/2014</span>
           </div> 
<div class="col-md-6 padding30">
                  <form class=" form-search" role="search">  
                    <div class="form-group center mt-5 "> 
                      <input type="text" class="form-control iconsearch" placeholder="Procurar">   
                    </div>
                  </form> 
                </div>
                <div class="clearfix"></div>
<div class="col-md-12 normal slim padding30 mt-20 blue size14">
<b>Descrição:</b>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</div> 

<div class="clearfix"></div>

           
            <div class="line4"></div>

            
            <div class="col-md-1 left textleft">
              <div class="circlewrap2"><img alt="" class="circleimg" src="img/user-avatar.jpg"></div>
            </div>
            <div class="col-md-11 right">
              <a href="#" class="lblue bold">Pedro </a><br/>
              Maecenas hendrerit magna ut porttitor tempor. In hac habitasse platea dictumst. Duis condimentum congue nisi, ac semper ipsum posuere eu. 
             <br/><span class="grey size12">13/05/2014  </span> 
            </div>
            <div class="clearfix"></div>
            <div class="line4"></div>           
            
            <div class="col-md-1 left textleft"></div>
            <div class="col-md-11 right">
                <div class="col-md-1 left textleft">
                  <div class="circlewrap2">
                  <img alt="" class="circleimg" src="img/user-avatar.jpg">
                 <i class="fa fa-share cpd1" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-md-11 right">
                  <a href="#" class="lblue bold">Ana</a><br/>
                  Maecenas hendrerit magna ut porttitor tempor. In hac habitasse platea dictumst. Duis condimentum congue nisi, ac semper ipsum posuere eu. 
                  <br/><span class="grey size12">13/05/2014  </span>                
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="line4"></div>   

            <div class="col-md-1 left textleft">
              <div class="circlewrap2"><img alt="" class="circleimg" src="img/user-avatar.jpg"></div>
            </div>
            <div class="col-md-11 right">
              <a href="#" class="lblue bold">Pedro </a><br/>
              Maecenas hendrerit magna ut porttitor tempor. In hac habitasse platea dictumst. Duis condimentum congue nisi, ac semper ipsum posuere eu. 
             <br/><span class="grey size12">13/05/2014  </span>                 
            </div>
            <div class="clearfix"></div>
            <div class="line4"></div>     

            <div class="col-md-1 left textleft">
              <div class="circlewrap2"><img alt="" class="circleimg" src="img/user-avatar.jpg"></div>
            </div>
            <div class="col-md-11 right">
              <a href="#" class="lblue bold">Pedro  Michaelson</a><br/>
              Maecenas hendrerit magna ut porttitor tempor. In hac habitasse platea dictumst. Duis condimentum congue nisi, ac semper ipsum posuere eu. 
             <br/><span class="grey size12">13/05/2014  </span>                 
            </div>
            <div class="clearfix"></div>
            <div class="line4"></div>       

            <div class="col-md-1 left textleft">
              <div class="circlewrap2"><img alt="" class="circleimg" src="img/user-avatar.jpg"></div>
            </div>
            <div class="col-md-11 right">
              <a href="#" class="lblue bold">Bruno </a><br/>
              Maecenas hendrerit magna ut porttitor tempor. In hac habitasse platea dictumst. Duis condimentum congue nisi, ac semper ipsum posuere eu. 
              <br/><span class="grey size12">13/05/2014  </span>                 
            </div>
            <div class="clearfix"></div>
            <div class="line4"></div> 
            <a href="#" class="right lblue"> Clique aqui e Adicione um comentário <i class="fa fa-angle-double-right slim"></i></a>              
            
            <br/>
            <br/>
          </div>
  
     
  


        </div>

</article> 
</section>
</div>




<section id="menutabprincipal" class="menutabprincipal">  
  <div class="container">
    <article> 


      <div class="padding30">
        <p class="lato size22 slim textcenter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum.</p>
      </div>






   </article>
 </div>
</section>



<div class="clearfix"></div>

<section class="footerbg lcfix">
  <div class="container">   
    <footer>
      <div class="footer">
        <img src="img/logo_senac_branca.png" alt="Logo" class="">
        <br><br>
        © 2016 - Todos os Direitos Reservados 
      </div>
    </footer>
  </div>  
 </section>


</body>
</html> 



      <!-- Bootstrap core JavaScript
      ================================================== -->

      <!-- JavaScripts -->
      <!-- jQuery -->
      <script src="js/jquery-1.12.0.js"></script>   



      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>

      <!-- tabs -->
      
      <script src="js/plugins/bootstrap-responsive-tabs.js"></script>   



      <!-- Custom JavaScript  - Todas Paginas -->
      <script src="js/scripts_custom.js"></script>  

      <!-- Validate JavaScript -->
      <script src="js/plugins/jquery.validate.min.js"></script>
      <script src="js/plugins/validation-init.js"></script>

      <!-- scrollto -->
      <script src="js/plugins/jquery.scrollto.js"></script> 

      <!-- nicescroll -->
      <script src="js/plugins/jquery.nicescroll.min.js"></script>  