<senac-submenu></senac-submenu>
<div class="container nav_internas">
  <div class="col-md-12 offset-0 textjustify slim size13 ">
    <div class="col-md-8 textjustify slim  ">
      <senac-apresentacao id="CONTATO"></senac-apresentacao>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="divider">
    <!-- divider -->

  </div>

  <div class="margtop30 margbottom40">
    <div class="col-md-6">
      <div class="boxshadow">
        <img src="/extranetead-portal/static/resources/images/contato2.jpg" alt="" class="fwimg">
        <div class="bscontainer">
          <h3 class=" old caps textcenter dark">FAQ</h3>
          <hr>
            <div id="txt_destaque">
                      <span class="grey2" >Duvidas frequentes segmentadas por modalidades.</span>
                    </div>
          <div class="center margtop20 margbottom10">
            <a class=" bluebtn btn-lg caps" title="Faq" data-ng-href="{{systemUri.faq()}}">
              <i class="fa fa-plus size11 margright5" aria-hidden="true"></i> {{"LBL_SAIBA_MAIS" | translate}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="boxshadow">
    <img src="/extranetead-portal/static/resources/images/contato1.jpg" alt="" class="fwimg">

        <div class="bscontainer">
          <h3 class="bold caps textcenter dark">Fale Conosco</h3>
          <hr>
               <div id="txt_destaque">
                      <span class="grey2" >Informações sobre localização, telefones e endereços das unidades do Senac acesse aqui as <a href="/unidades">Unidades da Grande São Paulo</a> ou outros <a href="http://www.senac.br/unidades/estados.aspx">outros Estados</a>.</span>
                    </div>
          <div class="center margtop20 margbottom10">
            <a class=" bluebtn btn-lg caps" title="Fale Conosco" data-ng-href="{{systemUri.faleConosco()}}">
              <i class="fa fa-envelope size11 margright5" aria-hidden="true"></i> Enviar mensagem</a>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div><br>
  </div>












</div>