<!-- Conteudo Principal -->
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 margtop40 margbottom40">
  <div class=" center " style="min-height:450px;">
    <div class="size40  slim lgrey  ">
      Ops!
    </div>
    <h2 class="grey2 size40"> Error  <div class="visible-xs clearfix"></div> 4<i class="fa fa-times-circle-o" aria-hidden="true"></i>4</h2>
    <small>       
        <span class="lorange slim  size18 margtop10 "> <i class="fa fa-clone  "></i> Pagina não encontrada </span>
    </small>
     <div class="clearfix"></div> 

  </div>

</div> 
<!-- Fim Conteudo Principal -->    